/* -- Main tags -- */
body{
    margin: 0px;
}
main{
    padding: 16px;
    margin-top: 45px;
}
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
button:focus, a:focus{
    outline: none;
}


/* -- NAVIGATION BAR -- */
nav{
    background-color: white;
    width: 100%;
    height:inherit;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
nav img{
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
}
.navbar-items{
    float: right;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle
}
.navbar-item{
    display: inline;
    padding-right: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: none;
    color: darkolivegreen;
    line-height: 20px;
}
.navbar-item:hover{
    color: black;
    /*text-shadow: 1px 0px 1px black;*/
}
.navbar-item.active{
    font-weight: bold;
    /*text-shadow: 1px 0px 0px black;*/
}
.navbar-toggle{
    float: right;
    display: none;
    background-color: transparent; 
    border: none;
    color: darkolivegreen;
    text-align: center;
    text-decoration: none;
    padding-bottom:"1px";
    padding-left: "6px";
    font-size: 16px;
    line-height: 20px
}
.navbar-toggle:hover{
    font-size: 110%;
}
@media only screen and (max-width:600px){
    .navbar-item{display: none;}
    .navbar-toggle{display: block;}
    .navbar-item.toggled{display: block;}
    .navbar-toggle.toggled{padding-bottom: 15px; padding-left: 15px;}
    main.toggled{margin-top: 295px;}
}


/* -- Main Content -- */
